body{
	height: 100%;
	background-color: #CBF6FFFF;
/*настройки шрифта*/
	font-family: Comic Sans MS, Comic Sans, Bradley Hand, Brush Script MT, Brush Script Std, cursive; 
}
.wrapper{
	overflow: hidden;
	display: flex;
	flex-direction: column;
	min-height: 100%;
	margin: 20px;
	padding: 20px;
}
.container{
	background: linear-gradient(#FFFFFFFF, #CBF6FFFF);
	box-shadow: 0 0 10px #3A3B67FF; /* Параметры тени */
	border-radius: 10px;
	max-width: 1200px;
	margin: 10px auto;
	padding: 10px;
}
.header {
	margin: 10px;
	padding: 20px;
}
p.name_of_the_site {
	text-align: center;
	margin: 10px 10px;
	padding: 10px;
	font-size: 30px;
	line-height: 1.5;
	color: #2B7AEDFF;
	font-weight: bolder;
}
nav.all_button{
	padding: 10px;
	margin: 10px;
	text-align: center;
}
nav img {
	height: 20px;
	width: 20px;
}
.menu{
	margin: 10px;
	border: 1px;
	background-color: inherit;
}
.menu:hover{
	transform: background-color;
	background-color: #CBF6FFFF;
}
a {
	font-size: 20px;
	padding: 5px 10px;
	text-decoration: none;
	display: inline;
	color: #2B7AEDFF;
	font-weight: 200;
	font-family: Comic Sans MS, Comic Sans, Bradley Hand, Brush Script MT, Brush Script Std, cursive;
}
.main {
	margin: 10px;
	padding: 10px;
	flex: 1 1 auto;
}
h2 {
	padding: 10px;
	margin: 10px;
	color: #2B54EDFF;
	text-align: center;
}
section article {
	padding: 10px;
	margin: 10px 10px;
	border-radius: 10px;
	line-height: 1,5;
	text-align: justify;
	color: #2B54EDFF;
}
img.game_gorodki{
	height: 80%;
	width: 80%;
}
article.gorodki{
	align-content: center;
	text-align: center;
}
footer {
	background-image: url("img/shapka_vsja(2).png");
	background-color: #CBF6FFFF;
	background-repeat: repeat;
	background-size: cover;
	background-position: bottom;
	margin: 10px 50px;
	padding: 20px;
	border-radius: 5px;
}
a.footer_link {
	color: #155C29FF;
	display: block;
	text-align: center;
}
@media (min-width: 1200px){
	.container{
		max-width: 1200px;
	}
}
@media (min-width: 992px) and (max-width: 1199px){
	.container{
		max-width: 970px;
	}
}
@media (min-width: 768px) and (max-width: 991px){
	.container{
		max-width: 740px;
	}
}
@media (max-width: 425px) and (max-width: 767px){
	.container{
		max-width: 425px;
	}
}

/*@media (max-width: 1200px){
	.container{
		max-width: 970px;
	}
}
@media (max-width: 992px){
	.container{
		max-width: 750px;
	}
}
@media (max-width: 767px){
	.container{
		max-width: none;
	}
}*/





