body{
	height: 100%;
	margin: 10px; 
	background-color: #CBF6FFFF;
/*настройки шрифта*/
	font-family:  Roboto, Arial, sans-serif; 
    font-style: monospace;
/*Настройки нижнего рисунка*/    
    background-image: url("img/shapka_vsja(2).png");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: contain;
	background-position: bottom;  
}
.wrapper{
	overflow: hidden;
	display: flex;
	flex-direction: column;
	min-height: 100%;
}
.container{	
	max-width: 1400px;
	margin: 0 auto;
	padding: 0px 10px;
}
@media (max-width: 1400px){
	.container{
		max-width: 1220px;
	}
}
@media (max-width: 1200px){
	.container{
		max-width: 970px;
	}
}
@media (max-width: 992px){
	.container{
		max-width: 750px;
	}
}
@media (max-width: 767px){
	.container{
		max-width: none;
	}
}
header {
	background: linear-gradient(to top, #CBF6FFFF, #FFFFFFFF);
	margin: 10px;
	padding: 10px;
	border-radius: 10px;
}
p {
	font-size: 30px;
	margin-left: 40px;
	line-height: 1.5;
	color: #9457EBFF;
	font-weight: bolder;
}
h2 {
	padding: 10px;
	margin: 15px 40px;
}
nav{
	padding: 10px;
	margin: 10px;
	text-align: right;
}
nav img {
	height: 20px;
	width: 20px;
	/*margin: 10px;*/
}
.menu{
	margin: 10px;
	border: 1px;
	background-color: inherit;
}
.menu:hover{
	transform: background-color;
	background-color: #CBF6FFFF;
}
a {
	font-size: 20px;
	padding: 5px 20px 5px 4px;
	text-decoration: none;
	display: inline;
	color: #FF007BFF;
	font-weight: 200;
}
.main {
	padding: 20px;
	flex: 1 1 auto;
}
main img {
	height: 50px;
	width: 50px;
}
aside{
	padding: 10px;
	margin: 10px;
	float: left;
	color: #FF4C42FF;
	font-weight: 200;
}
section form input{
	padding: 10px;
	margin: 15px 40px;
	border-radius: 10px;
	line-height: 1,5;
}
section article {
	padding: 10px;
	margin: 15px 40px;
	border-radius: 10px;
	line-height: 1,5;
	text-align: justify;
}
button {
	border-radius: 10px;
	border: 2;
	padding: 10px;
	margin: 15px 40px;
	background-color: #CBF6FFFF;
}
button:hover {
	transform: font-weight;
	font-weight: bolder;
	transform: background-color;
	background-color: #A8EEA6FF;
}
.feedback-form{
	align-content: center;
	text-align: center;
}
footer {
	padding: 10px;
	margin: 10px;
	margin-top: auto;
	text-align: center;
}






